<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHHr7PvY5SEcyzs3Uda_F30tsDwAFmTcsO-QW8GSykUFJ4L0Scxfs0w_Obo-eeCbW2ZdM&usqp=CAU" type="image/x-icon">
    <title>Create acount</title>
    <link rel="stylesheet" href="./styles/createAcount.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <input type="text" placeholder="Digite seu nome" id="name">
    <input type="text" placeholder="Digite um e-mail" id="email">
    <input type="password" placeholder="Digite uma senha" id="senha">
    <%- include('partials/cpf') %>
    <button onclick="createAcount()">Enviar</button>



    <script src="/index.js"></script>
    <script src="/lib/index.js"></script>
</body>
</html>