<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id="name"></h1>
    <h1 id="cpf"></h1>
    <h1>Saldo: </h1>
    <p id="saldo"></p>

    <script src="/lib/index.js"></script>
    <script src="/lib/localStorage.js"></script>
    <script src="/validations/validationLogin.js"></script>
    <script src="/validations/validationData.js"></script>
    <script src="/insertText.js"></script>
</body>
</html>