<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id="name"></h1>
    <h1 id="cpf"></h1>
    <h1>Saldo: </h1>
    <h2 id="saldo"></h2>
    <p>Efetuar Deposito: </p>
    <input type="number" id="saldo2">
    <button onclick="adicionar()">Depositar</button>
    <br>

    <p>sacar dinheiro</p>
    <input type="number" id="sacar">
    <button onclick="sacar()">Sacar</button>

    <p>Enviar saldo para outras contas</p>
    <input type="text" placeholder="CPF" id="CPFenviado">
    <input type="text" placeholder="dinheiro" id="SALDOenviado">
    <button onclick="enviarSaldo()">Enviar</button>

    <!--                                                  -->
    <script src="/lib/index.js"></script>
    <script src="/lib/localStorage.js"></script>
    <!--                                                  -->
    <script src="/validations/validationLogin.js"></script>
    <script src="/validations/validationData.js"></script>
    <!--                                                  -->
    <script src="/operacoes-bancarias/sacar.js"></script>
    <script src="/operacoes-bancarias/adicionar.js"></script>
    <!--                                                  -->
    <script src="/insertText.js"></script>
</body>
</html>