<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>
<body>
    <input type="text" value="<%= id %>" id="id" hidden>
    <input type="date" id="idade">
        <%- include('../partials/cpf') %>
    <button onclick="terceiraEtapa()">Continuar</button>

    <script src="/create-acount/terceira-etapa.js"></script>
    <script src="/lib/index.js"></script>
</body>
</html>